* {
  box-sizing: border-box;
}

:root {
  --violet: hsl(263, 55%, 52%);
  --grey: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-blue: hsl(210, 46%, 95%);
}

body {
  max-width: 1400px;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--light-gray);
  margin: 3rem auto;
}

main {
  padding: 0 3rem;
}

.title {
  font-size: 1.6rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "purple" "grey" "white-1" "dark" "white-2";
  gap: 1.5rem;
}

.card {
  position: relative;
  line-height: 1.5rem;
  background-color: var(--light-gray);
  color: var(--dark-blue);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 960px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "purple purple grey white-2"
      "white-1 dark dark white-2";
  }
}

.card__quoted {
  position: absolute;
  top: 1rem;
  right: 6rem;
  opacity: 0.7;
}

.card--text-light {
  color: var(--light-blue);
}

.card--purple {
  grid-area: purple;
  background-color: var(--violet);
}

.card--grey {
  grid-area: grey;
  background-color: var(--grey);
}

.card--white-1 {
  grid-area: white-1;
  background-color: var(--light-blue);
}

.card--dark {
  grid-area: dark;
  background-color: var(--dark-blue);
}

.card--white-2 {
  grid-area: white-2;
  background-color: var(--light-blue);
}

.user {
  display: flex;
  align-items: center;
}

.card__avatar {
  max-width: 40px;
  margin-right: 1rem;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.user__name,
.user__condition {
  margin: 0;
}

.user__name {
  font-weight: 600;
}

.user__condition {
  opacity: 0.5;
}

.card__title {
  position: relative;
}

.card__text {
  opacity: 0.7;
}

